#contenedor-AreaTrabjo-Admin{
    position: absolute;
    width: calc(100% - 280px);
    height: 100%;
    display: block;
    min-height: 500px;
    /* overflow: auto; */
    top: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: rgba(200,200,200,.3);
}
.contenedor_time{
    width: calc(100% - 280px);   
    border-bottom: 1px solid rgba(200,200,200,1);
    background-color: rgba(245,245,245,1);
    padding:10px 3%;
    display: flex;
    justify-content: space-between;
    min-height: 62px;
    position: fixed;
    z-index: 2;
    font-size: 14px;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    align-items: center;
    color: rgba(47,47,47,1);
}
.contenedor_time .clock:before{
    margin-right: 10px;
}
#contenedor-inicio{
    width: 95%;
    display: block;
    height: auto;
    margin: 82px auto 20px auto;
    max-width: 1200px;
}
.contenedor-individual{
    background-color: rgba(255,255,255,1);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid rgba(200,200,200,1);
    box-shadow: 0 3px 5px 0.3px rgba(0,0,0,.24);
    overflow: hidden;
    box-sizing: border-box;
    margin:10px;
    padding:15px;
}
.contenedor1{    
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.contenedor2{    
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    max-height: 232px;
}
.contenedor3{    
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
#donutchart{    
    width: 100%;
    height: 100%;
} 
#donutchart1{    
    width: 100%;
    height: 100%;
}
#chart_div{    
    width: 100%;
    height: 100%;
}
#chart_div2{    
    width: 100%;
    height: 100%;
}
#chart_div3{    
    width: 100%;
    height: 100%;
}
.employeem{            
    width: 100%;
    height: 232px;
    background-color: rgba(255,255,255,1);
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    font-size: 11px;
}        
.img-empleado-mes{
    margin: 15px auto;
    display: block;
    width:120px;
    height:120px;
    border-radius:150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nombrempleado{
    font-family: 'Principal',helvetica,verdana,sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}
.contenedor_Agregar_mes{
  width: calc(100% - 280px);   
  border-bottom: 1px solid rgba(200,200,200,1);
  background-color: rgba(245,245,245,1);
  padding:10px 3%;
  display: flex;
  justify-content: flex-end;
  min-height: 62px;
  position: fixed;
  z-index: 10;
}
.contenedorFull{    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: var(--bg-secundario);
    -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,1);
    overflow: hidden;
    width: 90%;
    margin: 22px auto 30px auto;
    max-width: 1200px;
}
.imgPer{
    display:block;
    margin:auto;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius:150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h3{
    text-align: center;
    font-family: 'Principal',helvetica,verdana,sans-serif;
    padding: 5px 5%;
    box-sizing: border-box;
    width: 100%;
    color: var(--color-principal-texto);
}
/*------------------------------------------*/
.title{
    width: 49%;
    display: inline-block;    
}
#fecha{
    width: 20%;
    display: inline-block;
    font-family: 'Principal',helvetica,verdana,sans-serif;
    text-align: right;
    color: black;
}
.contenedor_time{
    width: 100%;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    color: var(--color-principal-blanco);
    font-size: 15px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255,255,255,1);
    /* background-color: var(--bg-principal-8); */
    display: inline-block;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.contenedor{
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.contenedorG{
    text-align: center;
    width: 100%;
    font-family: 'Principal',helvetica,verdana,sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}
.contenedorG p{
    display: block;
    padding:5px 5%;
    box-sizing: border-box;
    width: 100%;
    color: var(--color-principal-texto);
}
#chart_div{
    width: 100%;
    height: 200px;
    padding: 5px;
}
#contenedor-inicio{
    width: 90%;
    margin:0px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 70px;
    z-index: 99;
}
.opcion-inicio{
    width: 31.3%;
    margin:20px 1%;
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.4);
    border: 1px solid rgba(200,200,200,1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: var(--bg-secundario);
    overflow: hidden;
    height: 250px;
    position: relative;
    /* z-index: 999999; */
    background: rgba(255,255,255,1);
}
.opcion-inicio-titulo{
    background-color: var(--bg-principal);
    color: var(--color-principal-blanco);
    width: 100%;
    text-align: center;
    padding:8px 5%;
    box-sizing: border-box;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
}
#opcion-inicio-valor-1, #opcion-inicio-valor-2, #opcion-inicio-valor-3{
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--color-principal-titulo);
    font-family: 'Titulo',helvetica,verdana,sans-serif;
}
.opcion-inicio-link, .opcion-inicio-link-a, .opcion-inicio-link-b{
    position: absolute;
    bottom: -120px;
    border: none;
    display: block;
    padding: 8px 10px;
    box-sizing: border-box;
    width: 100px;
    text-align: center;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    color: var(--color-principal-blanco);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background-color: var(--bg-principal);
    cursor: pointer;
    outline: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
    font-size: 13px;
}
.opcion-inicio-link{
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
}
.opcion-inicio-link-a{
    left: 10px;
}
.opcion-inicio-link-b{
    right: 10px;
}
.opcion-inicio-link:hover, .opcion-inicio-link-a:hover,.opcion-inicio-link-b:hover{
    background: var(--bg-principal-8);
}
.opcion-inicio:hover .opcion-inicio-link, .opcion-inicio:hover .opcion-inicio-link-a, .opcion-inicio:hover .opcion-inicio-link-b{
    bottom: 10px;
}
#opcion-general{
    width: 100%;
    margin:20px 1%;
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.4);
    border: 1px solid rgba(200,200,200,1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: var(--bg-secundario);
    overflow: hidden;
    height: 350px;
    position: relative;
    background: rgba(255,255,255);
}
#opcion-general-titulo{
    background-color: var(--bg-principal);
    color: var(--color-principal-blanco);
    width: 100%;
    text-align: center;
    padding:8px 5%;
    box-sizing: border-box;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    z-index: 1;
}
#opcion-general-valor{
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0;
    top: 10%;
}
@media (max-width: 900px) {
    #contenedor-AreaTrabjo-Admin{
        width: 100%;
    }
    .contenedor_Agregar_actividades{
        width: 100%;
    }
}
@media (max-width: 800px) {
    .title{
        width: 100%;
        text-align: center;
    }
    #fecha{
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .imgPer{
        width: 60px;
        height: 60px;
    }
}