#actualidad-2{
	width: 100%;
	height: auto;
	padding: 50px 5% 50px 5%;
	box-sizing: border-box;
	text-align: center;
	max-width: 1300px;
	margin:0px auto 0px auto;
	position: relative;
	border-top: 1px solid rgba(200,200,200,1);
}
#actualidad-2-titulo{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Principal',helvetica,verdana,sans-serif;
	color: rgba(80,80,80,1);
	font-size: 26px; 
	margin-bottom: 30px;
	text-transform: uppercase;
}
.actualidad-2-esp{
	width: 31%;
    margin:20px 1%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    border:2px solid rgba(53,136,149,1);
    box-shadow: 4px 3px 5px 3px rgba(0,0,0,.24);
    overflow: hidden;
}
.actualidad-2-esp:hover{
	-moz-box-shadow: 9px 7px 7px 4px rgba(0,0,0,.35);
    -webkit-box-shadow: 9px 7px 7px 4px rgba(0,0,0,.35);
    box-shadow: 9px 7px 7px 4px rgba(0,0,0,.35);
}
.actualidad-2-esp-img{
	width: 150px;
    height: 150px;
    display: block;
    margin:10px auto;
    border:2px solid rgba(53,136,149,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    box-sizing: border-box;
}
.actualidad-2-esp-capa{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(53,136,149,.3);
    opacity: 0;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.actualidad-2-esp-capa:hover{
	opacity: 1;
}
.actualidad-2-esp-cont{
	width: 100%;
    display: inline-block;
    vertical-align: top;
}
.actualidad-2-esp-titulo{
	 font-family: 'Principal',helvetica,verdana,sans-serif;
    font-size: 21px;
    text-align: center;
    width: 90%;
    padding:10px 0;
    box-sizing: border-box;
    color: rgba(80,80,80,1);
    margin:0px auto 20px auto;
}
.actualidad-2-esp-titulo a{
	color: rgba(80,80,80,1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.actualidad-2-esp-titulo a:hover{
	text-decoration: underline;
}
.actualidad-2-esp-texto{
	width: 100%;
    padding:0px 5% 20px 5%;
    text-align: left;
    font-family: 'Principal',helvetica,verdana,sans-serif;
    font-size: 17px;
    color: rgba(40,40,40,1);
    line-height: 1.4em;
}
.actualidad-2-esp-boton{
	display: block;
    padding: 10px 25px;
    box-sizing: border-box;
    max-width: 150px;
    margin: 20px auto 0px auto;
    text-align: center;
    font-size: 17px;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    color: rgba(255,255,255,1);
    background-color: rgba(53,136,149,1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.actualidad-2-esp-boton:hover{
	background-color: rgba(53,136,149,.85);	
}
.actualidad-2-esp-boton a{
	color: rgba(255,255,255,1);
}
@media (max-width: 1000px){
	.actualidad-2-esp{
		width: 100%;
		margin:15px auto;
	}
}
@media (max-width: 600px){
	.actualidad-2-esp-boton{
		display: block;
		margin:20px auto 0px auto;
	}
}