.moverScroll {
    animation: moverDSiguiente 0.7s ease-in-out;
    animation-fill-mode: forwards;
}

/* Removed invalid scrollTo properties */
@keyframes moverScroll {
    from {
        scrollTo(0, 0);
    }

    to {
        scrollTo(0, 300);
    }
}

#banner {
    width: 100%;
    height: 600px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    background-position: 20px 0;
    left: 0px;
    overflow: hidden;
}

#banner-capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
}

/*estilos nicolas*/
.contenedorBanner {
    width: 100%;
    height: 600px;
    position: relative;
    display: inline-flex;
    overflow: hidden;
    z-index: 2;
}

.slideBanner {
    width: 100%;
    height: 600px;
    position: absolute;
    opacity: 0;
    left: -100%;
    z-index: 2;
    overflow: hidden;
}

.slideBanner-capa {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(to right, #026aa5, #0c6fb2, #1b74be, #2a78cb, #3a7cd7, #2f86e0, #1f90e9, #009af1, #00aaf2, #00b9ed, #00c6e4, #33d1da);
    opacity: .4;
    z-index: 4;*/
}

/*Boton banner*/
.botonBannerEnlase {
    color: rgba(0, 17, 52, 1);
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    font-size: 17px;
    border: unset;
    cursor: pointer;
    z-index: 5;
    width: 7.5em;
    height: 2.5rem;
    text-align: center;
    padding: 10px;
    display: inline-block;
    border-radius: 15px;
    transition: all 250ms;
    position: relative;
    overflow: hidden;
    /* Center the button horizontally */
}

.botonBannerEnlase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgba(0, 17, 52, 1);
    z-index: -1;
    transition: 250ms;

}

/*Hover para el boton del banner*/
.botonBannerEnlase:hover {
    color: rgba(232, 145, 65, 1);
}

.botonBannerEnlase:hover::before {
    width: 100%;
}

.anteriorBanner,
.siguienteBanner {
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    line-height: 80px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    z-index: 6;
    padding: 0px 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgba(232, 145, 65, 1);
}

.anteriorBanner {
    left: -40px;
    text-align: right;
}

.imgBanner {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 600px;
    z-index: 4;
    position: absolute;
}

.siguienteBanner {
    right: -40px;
    text-align: left;
}

/*Hover para flecha de cambio de banner*/
.anteriorBanner:hover,
.siguienteBanner:hover {
    background-color: rgba(232, 145, 65, 1);
}

.informacionBanner {
    position: relative;
    width: fit-content;
    margin-top: 13%;
    height: auto;
    z-index: 5;
    padding: 20px;
    box-sizing: border-box;
    left: 8%;
    color: rgba(255, 255, 255, 1);
    -webkit-border-radius: 15px 0px;
    -moz-border-radius: 15px 0px;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgba(237, 200, 167, 0.1) 0%, rgba(237, 200, 167, 0.6) 100%);
}

/* Alineación a la izquierda */
#disposicionTextoBaner0.informacionBanner {
    text-align: left;
}

/* Alineación al centro */
#disposicionTextoBaner1.informacionBanner {
    text-align: center;
}

/* Alineación a la derecha */
#disposicionTextoBaner2.informacionBanner {
    text-align: right;
}

.textoBanner {
    position: relative;
    width: 100%;
    font-family: 'Raleway';
    z-index: 5;
    font-size: 30px;
    margin-bottom: 15px;
    color: rgba(6, 38, 63, 1);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.536);
}

/*CSS para el titulo del banner*/
.tituloBanner {
    font-size: 55px;
    position: relative;
    font-family: 'Raleway';
    z-index: 5;
    text-transform: uppercase;
    color: rgba(6, 38, 63, 1);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(232, 145, 65, 1);
}

.botonesBanner {
    width: 30px;
    height: auto;
    padding: 0px 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    z-index: 5;
    right: 10px;
}

/*CSS para el boton para cambios en el banner*/
.bullet {
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin: 3px auto;
    background-color: rgba(255, 255, 255, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border: 2px solid rgba(255, 255, 255, 1);
}

/*CSS para cuando un banner esta activo, cambia color*/
.botonactivoBanner,
.botonBanner:hover {
    background-color: rgba(232, 145, 65, 1);
}

.moverIActualBanner {
    animation: moverIActual 0.7s ease-in-out;
    animation-fill-mode: forwards;
}

.moverISiguienteBanner {
    animation: moverISiguiente 0.7s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes moverIActual {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: -100%;
        opacity: 1;
    }
}

@keyframes moverISiguiente {
    from {
        left: 100%;
        opacity: 1;
    }

    to {
        left: 0%;
        opacity: 1;
    }
}

.moverDActualBanner {
    animation: moverDActual 0.7s ease-in-out;
    animation-fill-mode: forwards;
}

.moverDSiguienteBanner {
    animation: moverDSiguiente 0.7s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes moverDActual {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: 100%;
        opacity: 1;
    }
}

@keyframes moverDSiguiente {
    from {
        left: -100%;
        opacity: 1;
    }

    to {
        left: 0%;
        opacity: 1;
    }
}

/*Textos*/
.moverDTexto {
    animation: moverDTexto 1.5s ease-out;
    animation-fill-mode: forwards;
    text-align: right;
}

@keyframes moverDTexto {
    from {
        top: 200%;
        left: 37%;
        transform: translate(10%, 0%);
        -webkit-transform: translate(10%, 0%);
        color: rgba(255, 255, 255, 0.1);
    }

    to {
        top: 25%;
        left: 37%;
        transform: translate(10%, 0%);
        -webkit-transform: translate(10%, 0%);
        color: rgba(255, 255, 255, 1)
    }
}

.moverITexto {
    animation: moverITexto 1.2s ease-out;
    animation-fill-mode: forwards;
    text-align: left;
}

/*@keyframes moverITexto{
    from{left:7%; top:-200%; color:rgba(255,255,255,0.1);} to {left:7%; top:25%; color:rgba(255,255,255,1); }
}*/

@keyframes moverITexto {
    from {
        opacity: 0;
        color: rgba(255, 255, 255, 0.1);
    }

    to {
        opacity: 1;
        color: rgba(255, 255, 255, 1);
    }
}

.moverCTexto {
    animation: moverCTexto 1.5s ease-out;
    animation-fill-mode: forwards;
    text-align: center;
}

@keyframes moverCTexto {
    from {
        left: 50%;
        top: 200%;
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        color: rgba(255, 255, 255, 1);
    }

    to {
        left: 50%;
        top: 25%;
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        color: rgba(255, 255, 255, 1)
    }
}

#contenedorBusquedaUbicacion,
#contenedorBusquedaRazon,
#contenedorBusquedaUbicacionH,
#contenedorBusquedaRazonH,
#contenedorBusquedaUbicacionM,
#contenedorBusquedaRazonM {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 1);
    z-index: 80;
}

#contenedorBusquedaUbicacionM,
#contenedorBusquedaRazonM {
    width: 280px;
}

#contenedorItemBI {
    width: 35%;
    margin-right: 20px;
    top: 0px;
}

#contenedorItemBD {
    width: 55%;
}

#itemBusqueda {
    text-align: left;
    width: 100%;
    font-family: 'Principal', helvetica, verdana, sans-serif;
    font-size: 12px;
    color: rgba(97, 97, 97, 1);
    border-bottom: 1px solid rgba(97, 97, 97, 0.5);
    cursor: pointer;
    font-family: arial, helvetica, verdana, sans-serif;
    padding: 2px;
    box-sizing: border-box;
}

#itemBusqueda:hover {
    background: rgba(81, 110, 174, 0.1)
}

@media (max-width: 1060px) {
    #banner-buscador {
        display: none;
    }

    .informacionBanner {
        width: 50%;
    }

    .tituloBanner {
        font-size: 40px;
    }
}

@media (max-width: 900px) {

    .informacionBanner,
    .tituloBanner,
    .textoBanner,
    .botonBannerEnlase {
        transform: skew(0deg);
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
    }
}

@media (max-width: 730px) {

    #banner,
    .contenedorBanner,
    .slideBanner,
    .imgBanner {
        height: 450px;
    }

    .botonBannerEnlase {
        font-size: 15px;
        margin-left: 0;
    }

    .informacionBanner {
        width: 100%;
        padding: 30px 5%;
        left: 0;
    }

    .textoBanner {
        font-size: 17px;
        margin: 5px 5px 20px 5px;
    }

    .tituloBanner {
        font-size: 30px;
        margin: 0;
    }

    .anteriorBanner,
    .siguienteBanner {
        display: none;
    }
}

@media (max-width: 550px) {

    #banner,
    .contenedorBanner,
    .slideBanner,
    .imgBanner {
        height: 450px;
    }

    .textoBanner {
        font-size: 17px;
        margin: 5px 5px 20px 5px;
    }

    .tituloBanner {
        font-size: 25px;
        margin: 0;
    }
}