#convenios-1 {
	width: 100%;
	margin: 0px auto;
	padding: 50px 5%;
	box-sizing: border-box;
	position: relative;
}

#convenios-1:before {
	background-size: 50px 60px;
	display: block;
	position: absolute;
	width: 50px;
	height: 60px;
	content: "";
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: -40px;
}

#convenios-1-titulo {
	color: #e89141;
	font-family: 'Titulo', helvetica, verdana, sans-serif;
	font-size: 50px;
	text-align: center;
}

#convenios-1-contenedor {
	width: 100%;
	padding: 40px 0px 0px 0px;
	box-sizing: border-box;
}

.convenios-1-serv {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}

.convenios-1-serv-titulo {
	padding: 10px 50px 10px 10px;
	box-sizing: border-box;
	/* color: #0D1E2C; */
	color: #e89141;
	text-align: left;
	font-size: 19px;
	font-family: 'Titulo', helvetica, verdana, sans-serif;
	width: 50%;
	font-style: italic;
	background-color: #06263F;
	clip-path: polygon(0% 0%, 100% 0%, 92% 50%, 100% 100%, 0% 100%);
	margin-bottom: inherit;
}

.convenios-1-serv-titulo:before {
	content: "\A";
	border-top: 0px solid transparent;
	border-bottom: 43px solid transparent;
	position: absolute;
	margin-left: 260px;
	margin-top: -10px;
}

.card {
	display: inline-block;
	flex-direction: column;
	width: 15rem;
	height: 24rem;
	max-height: 24rem;
	border-radius: 10px;
	overflow: hidden;
	transition: all 0.3s;
	cursor: pointer;
	box-sizing: border-box;
	margin: 5px 1.5rem;
	background-color: transparent;
}

.card-image-container {
	width: 100%;
	height: 80%;
	overflow: hidden;
	background-color: transparent;
	display: ruby-text;
	padding: 0 2px;
}

.card-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.3s ease;
}

.card-title {
	margin: 0;
	font-size: 17px;
	font-weight: 600;
	cursor: default;
	display: -webkit-box;
	color: #e89141;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 1rem;
}

.flip-card-front {
	background: #06263F;
}

.flip-card-back {
	background-color: #e89141;
	transform: rotateY(180deg);
	padding: 10px;
	/* Añade padding para que el contenido no quede pegado a los bordes */
	box-sizing: border-box;
	/* Asegura que el padding se incluya en el tamaño total del elemento */
	height: 100%;
	/* Asegura que el div ocupe todo el espacio disponible */
	overflow: hidden;
	/* Oculta cualquier contenido que se desborde */
}

.card-title-back {
	font-size: 20px;
	font-weight: 600;
	color: #f0f0f0;
	text-align: center;
	/* Centra el título */
}

.card-info-back {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.card-subtitle {
	color: #f0f0f0;
	font-size: 16px;
}

.card-text-back {
	color: #06263F;
	padding-bottom: 1rem;
	font-size: 14px;
}

.card-subtitle,
.card-text-back {
	margin: 0;
	overflow-wrap: break-word;
	word-break: break-word;
}

button {
	border: unset;
    border-radius: 15px;
    color: #06263F;
    z-index: 1;
	background: #f0f0f0;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    width: 7.5rem;
    height: 2.5rem;
}

button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 15px;
	background-color: #06263F;
	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms
}

button:hover {
	color: #e89141;
}

button:hover::before {
	width: 100%;
}
@media screen and (max-width: 1024px) {
	.card {
		max-height: 20rem;
	}
}

@media screen and (max-width: 768px) {
	.card {
		max-height: 20rem;
	}
	#convenios-1-titulo{
		font-size: 35px;
	}
}