#distribuidores-1{
    width: 100%;
    margin:0px auto;
    padding:50px 0;
    box-sizing: border-box;
    position: relative;
}
.contenedor-ciudad{
    max-width: 1200px;
    margin:0px auto;
}
.titulo-ciudad{
    width: 80%;
    margin: 0px auto 15px auto;
    color: rgba(191,8,17,1);
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    font-size: 30px;
    text-align: center;    
}
.contenedor-distribuidores{
    width: 80%;
    margin:0px auto; 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.contenedor-distribuidores span{
    font-family: 'Titulo',helvetica,verdana,sans-serif;
}
.contenedor-distribuidor{
    width: 33.3%;
    font-family: 'Principal',helvetica,verdana,sans-serif;
    padding:20px;
    box-sizing: border-box;    
    z-index: 5;
}
.contenedor-distribuidor h3{
    color: rgba(191,8,17,1);
    margin-bottom: 5px;
    font-size: 25px;
}
.contenedor-distribuidor p{
    font-size: 13px;
}
#distribuidores-1::before{
    width: 200px;
    content: " ";
    background-image: url(../assets/MorasFrutalia-01.png);
    position: absolute;
    right: 0px;
    top: -50px;
    height: 170px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 250px auto;
    -webkit-background-size: 190px auto;
    -moz-background-size: 250px auto;
    -o-background-size: 250px auto;
    z-index: 1;
}
#distribuidores-1::after{
    width: 220px;
    content: " ";
    background-image: url(../assets/MorasFrutalia-02.png);
    position: absolute;
    left: 0px;
    top: 30%;
    height: 160px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 250px auto;
    -webkit-background-size: 200px auto;
    -moz-background-size: 250px auto;
    -o-background-size: 250px auto;
    z-index: 1;
}
.contenedor-ciudad:nth-child(3)::after{
    width: 220px;
    content: " ";
    background-image: url(../assets/MorasFrutalia-03.png);
    position: absolute;
    right: 0px;
    top: 45%;
    height: 240px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 250px auto;
    -webkit-background-size: 200px auto;
    -moz-background-size: 250px auto;
    -o-background-size: 250px auto;
    z-index: 1;
}
.contenedor-ciudad:nth-child(3)::before{
    width: 220px;
    content: " ";
    background-image: url(../assets/MorasFrutalia-04.png);
    position: absolute;
    left: 0px;
    top: 60%;
    height: 275px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 250px auto;
    -webkit-background-size: 200px auto;
    -moz-background-size: 250px auto;
    -o-background-size: 250px auto;
    z-index: 1;
}
.contenedor-ciudad:nth-child(5)::after{
    width: 220px;
    content: " ";
    background-image: url(../assets/MorasFrutalia-05.png);
    position: absolute;
    right: 0px;
    bottom: 0;
    height: 240px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 250px auto;
    -webkit-background-size: 200px auto;
    -moz-background-size: 250px auto;
    -o-background-size: 250px auto;
    z-index: 1;
}
@media (max-width: 850px){
    .contenedor-distribuidor{
        width: 50%;
    }
    .contenedor-distribuidores{
        width: 90%;
    }
}
@media (max-width: 600px){
    #distribuidores-1::before{
        width: 130px;
        height: 110px;
        background-size: 120px auto;
        -webkit-background-size: 120px auto;
        -moz-background-size: 120px auto;
        -o-background-size: 120px auto;
    }
    #distribuidores-1::after{
        width: 130px;
        height: 110px;
        background-size: 90px auto;
        -webkit-background-size: 90px auto;
        -moz-background-size: 90px auto;
        -o-background-size: 90px auto;
    }
    .contenedor-ciudad:nth-child(3)::after{
        width: 130px;
        background-size: 120px auto;
        -webkit-background-size: 120px auto;
        -moz-background-size: 120px auto;
        -o-background-size: 120px auto;
    }
    .contenedor-ciudad:nth-child(3)::before{
        width: 130px;
        background-size: 120px auto;
        -webkit-background-size: 120px auto;
        -moz-background-size: 120px auto;
        -o-background-size: 120px auto;
    }
    .contenedor-ciudad:nth-child(5)::after{
        width: 130px;
        background-size: 90px auto;
        -webkit-background-size: 90px auto;
        -moz-background-size: 90px auto;
        -o-background-size: 90px auto;
    }
}
@media (max-width: 550px){
    .contenedor-distribuidor{
        width: 100%;
    }
}