footer{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*
footer::before{
    width: 100%;
    content: " ";
    background-image: url(../assets/banner.png);
    position: absolute;
    left: 0%;
    top: -1px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    z-index: 3;
    -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
*/

#footer-contenedor{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:100px 5% 50px 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#footer-capa{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 38, 63, 1);
    z-index: 1;
    top:0;
    left: 0;
}

#footer-logo{
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    z-index: 10;
    position: relative;
    margin-bottom: 20px;
}

#footer-logo img{
    width: 150px;
    height: auto;
}

#footer-redes{
    width: 33%;
    padding:10px 0px 30px 0px;
    box-sizing: border-box;
    text-align: center;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer-red{
    color: rgba(255,255,255,1);
    margin:0px 10px;
    font-size: .8em;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(232, 145, 65,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.footer-red:hover{
    transform: rotate(360deg);
}

.footer-facebook{
    background-color: rgba(232, 145, 65,1);
}

.footer-twitter{
    background-color: rgba(255,255,255,1);
}

.footer-instagram{
    background-color: rgba(232, 145, 65,1);
}

.footer-google{
    background-color: rgba(255,255,255,1);
}

.footer-whatsapp{
    background-color: rgba(255,255,255,1);
}

#footer-info{
    width: 33%;
    margin:0px auto;
    color: rgba(255,255,255,1);
    font-family: 'Principal',helvetica,verdana,sans-serif;
    font-size: 17px;
    text-align: center;
    z-index: 2;
}
#footer-info p{
    color: rgba(255,255,255,1);
    font-size: 17px;
    text-align: center;
    padding:5px 0px;
    box-sizing: border-box;
    display: block;
    max-width: 300px;
    margin: 0px auto;
}

#footer-info p a{
    color: rgba(255,255,255,1);
}

#footer-info p a:hover{
    text-decoration: underline;
}

#footer-info .telefono:before,
#footer-info .email:before,
#footer-info .localizador:before{
    margin:0px 5px 0px 0px;
}

#footer-certif {
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    z-index: 10;
    position: relative;
    margin-bottom: 20px;
}

#footer-certif img {
    width: 150px;
    height: auto;
}

#footer-marca{
    width: 100%;
    padding:10px 5%;
    box-sizing: border-box;
    background-color: rgba(53,136,149,1);
    color: rgba(255,255,255,1);
    position: relative;
    z-index: 10;
}

#footer-copy{
    display: inline-block;
    font-size: 13px;
    width: 60%;
    padding:0 20px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: left;
    font-family: 'Principal',helvetica,verdana,sans-serif;
}
#footer-desarrollo{
    display: inline-block;
    font-size: 11px;
    width: 39%;
    padding:0 20px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: right;
}
#footer-desarrollo a img{
    width: 50px;
    height: auto;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@media (max-width: 900px){
    footer{
        background-attachment: scroll;
    }
    #footer-contenedor{
        flex-wrap: wrap;
    }
    #footer-logo,
    #footer-redes,
    #footer-info{
        width: 100%;
        max-width: 600px;
        margin:20px auto;
    }
    #footer-copy{
        width: 100%;
        text-align: center;
    }
    #footer-desarrollo{
        width: 100%;
        text-align: center;
    }
}