#formulario-4{
	width: 80%;
	padding:50px 0px 50px 50px;
	box-sizing: border-box;
    position: relative;
    margin:0px auto;
    background-color: rgba(185,212,224,1);
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#formulario-4-form{
	padding:30px;
	box-sizing: border-box;
    margin:0px auto;
    display: inline-block;
    vertical-align: top;		
}
#formulario-4-form{
    width: 90%;
    max-width: 1100px;
	margin-left: 1%;
    padding:0;
    margin:0px auto;
    display: flex;
}
#formulario-4-form-imagen{
	width: 40%;
	box-sizing: border-box;
    height: 460px;
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    margin-right: -50px;
    margin-top: 20px;
    z-index: 2;
}
#formulario-4-form-formulario{
    display: block;
    padding: 30px 30px 30px 70px;
    box-sizing: border-box;
    width: 60%;
    background-color: rgba(255,255,255,.2);
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 1;
}
.formulario-4-form-cont{
    width: 100%;
    margin:0px auto;
    margin-left: -4px;
    height: auto;
    padding:0px 20px;
    box-sizing: border-box;
}
.formulario-4-input{
	border:none;
	background-color: rgba(255,255,255,.3);
    color: rgba(80,80,80,1);
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    padding: 10px;
    margin:10px auto;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.formulario-4-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(80,80,80,1);
}
.formulario-4-input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(80,80,80,1);
}
.formulario-4-input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(80,80,80,1);
}
.formulario-4-input:-moz-placeholder { /* Firefox 18- */
  color: rgba(80,80,80,1);
}
.formulario-4-input:focus{
	background-color: rgba(255,255,255,.7);
	outline: none;
}
#formulario-4-form-formulario textarea{
	border:none;
    background-color: rgba(255,255,255,.3);
    color: rgba(80,80,80,1);
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 150px;
    resize: none;
    margin-top:10px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#formulario-4-form-formulario textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(80,80,80,1);
}
#formulario-4-form-formulario textarea::-moz-placeholder { /* Firefox 19+ */
  color: rgba(80,80,80,1);
}
#formulario-4-form-formulario textarea:-ms-input-placeholder { /* IE 10+ */
  color: rgba(80,80,80,1);
}
#formulario-4-form-formulario textarea:-moz-placeholder { /* Firefox 18- */
  color: rgba(80,80,80,1);
}

#formulario-4-form-formulario textarea:focus{
	background-color: rgba(255,255,255,.7);
    outline: none;
}
.formulario-4-terminos{
    width: 300px;
    padding:10px 0px;
    box-sizing: border-box;
    color: rgba(80,80,80,1);
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    text-align: left;
    font-size: 12px;
    margin-left: 20px;
}
.formulario-4-terminos a,
.formulario-4-terminos input{
    color: rgba(80,80,80,1);
    vertical-align: bottom;
}
.formulario-4-terminos a:hover{
    text-decoration: underline;
}
#formulario-4-boton{
	max-width: 120px;
	color: rgba(80,80,80,1);
    border:none;
	border-left: 3px solid rgba(255,255,255,1);
    border-bottom: 3px solid rgba(255,255,255,1);
    background-color: rgba(255,255,255,.2);
	text-align: center;
	margin:20px auto;
    margin-left: 20px;
	padding: 10px 25px;
	box-sizing: border-box;
    cursor: pointer;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
}
#formulario-4-boton:hover{
	background-color: rgba(255,255,255,1);
    color: rgba(47,101,53,1);
}
@media (max-width: 900px){
    #formulario-4{
        width: 90%;
        padding:10px 10px 30px 10px;
    }
    #formulario-4-form{
        flex-wrap: wrap;
    }
    #formulario-4-form-imagen{
        width: 100%;
        height: 150px;
        margin-bottom: 30px;
    }
    #formulario-4-form-formulario{
        width: 100%;
        padding:20px;
    }
}
@media (max-width: 600px){
    #formulario-4{
        width: 100%;
        padding:50px 5%;
    }
    #formulario-4-form-formulario{
        padding: 30px 0px;
    }
}
.modalDialog {
    position: fixed;        
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 999;    
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    transition: all 400ms ease-in;    
    overflow: scroll;
}
.logoModal{
    margin: 0px auto;
    width: 200px;
    content: " ";
    background-image: url(../assets/anbu-astronauta.png);
    position: relative;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px auto;
    -webkit-background-size: 150px auto;
    -moz-background-size: 150px auto;
    -o-background-size: 150px auto;
}
.invisible { visibility: hidden; opacity: 0; }
.modalDialog > div {
    width: 70%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to left top, #3d5a9a, #026da4, #007ea4, #008d9e, #3d9a96);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    border: none;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;    
    z-index: 9999;
    cursor: pointer;
}
.close:hover { background: #00d9ff; }
#contenedorModal h3, #contenedorModal i{
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    color: rgba(53,53,53,1);
    font-size: 25px;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    text-align: center;    
}
#contenedorModal h3{
    color: rgba(21,56,98,1); 
}
#contenedorModal i:hover{
    color: rgba(22,155,140,0.83); 
}
#contenedorModal p{
    width: 100%;
    padding: 25px 25px;
    box-sizing: border-box;
    color: rgba(255,255,255,1);
    font-size: 20px;
    font-family: 'Principal',helvetica,verdana,sans-serif;
    text-align: center;
}
#contenedorModal a{
    margin-top: 10px;
    padding: 8px;
    text-decoration: none;
    background-color: rgba(21,56,98,1);
    font-size: 15px;    
    font-family: 'Principal',helvetica,verdana,sans-serif;    
    color: rgba(255,255,255,1);
    transition: all 1s;
    border-width: 0px;
    border-style: solid;        
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;    
    display: inline-block;
}
#contenedorModal a:hover{
    cursor: pointer;
    background: rgba(22,155,140,0.83);    
}