#galeria-2{
	width: 100%;
	margin:0px auto;
	max-width: 1500px;
	padding:50px 5%;
	box-sizing: border-box;
}
#galeria-2-titulo{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    color: rgba(0,150,136,.8);
    font-size: 26px;
    margin-bottom: 60px;
    text-decoration: underline;
}
.galeria-2-esp{
	width: 31%;
	margin:10px 1%;
	display: inline-block;
	vertical-align: top;
	border:1px solid rgba(160,160,160,1);
	padding:80px 30px 60px 30px;
	box-sizing: border-box;
	position: relative;
	-webkit-transition: border 0.5s ease-out;
    -moz-transition: border 0.5s ease-out;
    -o-transition: border 0.5s ease-out;
    transition: border 0.5s ease-out;
}
.galeria-2-esp-icono{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
    right: 50%;
    top: -50px;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    background-color: rgba(200,200,200,1);
    font-size: 3em;
    color: rgba(120,120,120,1);
    text-align: center;
    line-height: 100px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.galeria-2-esp-icono::after{
	width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(200,200,200,1);
    content: "";
    position: absolute;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    left: 50%;
    right: 50%;
    top: 100px;
    -webkit-transition: border-top 0.5s ease-out;
    -moz-transition: border-top 0.5s ease-out;
    -o-transition: border-top 0.5s ease-out;
    transition: border-top 0.5s ease-out;
}
.galeria-2-esp:hover .galeria-2-esp-icono::after{
	border-top: 20px solid rgba(0,150,136,1);
}
.galeria-2-esp:hover{
	border:1px solid rgba(0,150,136,1);
}
.galeria-2-esp:hover .galeria-2-esp-icono{
	background-color: rgba(0,150,136,1);
	color: rgba(255,255,255,1);
}
.galeria-2-info{
	width: 100%;
	box-sizing: border-box;
}
.galeria-2-info h3{
	text-align: center;
	font-family: 'Titulo',helvetica,verdana,sans-serif;
	color: rgba(30,30,30,1);
	font-size: 23px;
	margin-bottom: 30px;
}
.galeria-2-info p{
	text-align: center;
	font-family: 'Principal',helvetica,verdana,sans-serif;
	color: rgba(30,30,30,1);
	font-size: 16px;
	line-height: 1.5em;
}
.galeria-2-boton{
	position: absolute;
	display: block;
	width: 140px;
	padding:10px;
	box-sizing: border-box;
	text-align: center;
	color: rgba(160,160,160,1);
	border:2px solid rgba(160,160,160,1);
	font-family: 'Titulo',helvetica,verdana,sans-serif;
	background-color: rgba(255,255,255,1);
	bottom: -20px;
	transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    left: 50%;
    right: 50%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
	-webkit-transition: color, background-color 0.5s ease-out;
    -moz-transition: color, background-color 0.5s ease-out;
    -o-transition: color, background-color 0.5s ease-out;
    transition: color, background-color 0.5s ease-out;
}
.galeria-2-esp:hover .galeria-2-boton{
	border:2px solid rgba(0,150,136,1);
	color: rgba(0,150,136,1);
}
.galeria-2-boton:hover{
	border:2px solid rgba(0,150,136,1);
	color: rgba(255,255,255,1) !important;
	background-color: rgba(0,150,136,1);
}
@media (max-width: 900px){
	.galeria-2-esp{
		width: 47.5%;
		margin:20px 1% 60px 1%;
	}
}
@media (max-width: 600px){
	.galeria-2-esp{
		width: 100%;
		margin:20px auto 60px auto;
	}
}