#galeria-1{
	width: 100%;
	height: auto;
	box-sizing: border-box;
    position: relative;
}
#galeria-1-titulo{
	width: 60%;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Titulo',helvetica,verdana,sans-serif;
	color: rgba(84,127,8,1);
	font-size: 31px; 
	margin:0px auto 70px auto;
    padding: 10px 0px;
    text-transform: uppercase;
    position: relative;
    max-width: 720px;
}
#galeria-1-titulo::before{
	content: "";
	width: 20%;
	border-bottom: 4px solid rgba(84,127,8,1);
	position: absolute;
	right: 0;
	bottom: 50%;
}
#galeria-1-titulo::after{
	content: "";
	width: 20%;
	border-bottom: 4px solid rgba(84,127,8,1);
	position: absolute;
	left: 0;
	bottom: 50%;
}
#galeria-1-cont{
	width: 100%;
	padding:0px 10%;
	box-sizing: border-box;
	height: auto;
	text-align: center;
	position: relative;
	margin:0px auto;
}
#galeria-1-cont::before{
	content: "";
	width: 100%;
	height: 50%;
	background-color: rgba(84,127,8,.6);
	position: absolute;
	bottom: 0;
	left: 0;
}
.galeria-1-esp{
	width: 33.3%;
	margin-left: -4px;
	overflow: hidden;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	position: relative;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
}
.galeria-1-esp:nth-child(2){
	top:-20px;
}
.galeria-1-img{
	width: 100%;
	height: 400px;
	text-align: center;
	box-sizing: border-box;
    overflow: hidden;
    position: relative;   
}
.galeria-1-img img{
	height: 100%;
	position: absolute;
	left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; 
}
.galeria-1-esp:hover .galeria-1-img img{
	height: 110%;
}
.galeria-1-titulo-esp{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Principal',helvetica,verdana,sans-serif;
	color: rgba(255,255,255,1);
	font-size: 15px;
	padding:20px;
	box-sizing: border-box;
}
@media (max-width: 850px){
	.galeria-1-esp{
		width: 46%;
	}
	#galeria-1-cont{
		padding:50px 0px;
	}
	#galeria-1-cont::before{
		height: 100%;
	}
	.galeria-1-esp:nth-child(2){
		top:0px;
	}
}
@media (max-width: 640px){
	#galeria-1-titulo::before{
		width: 0;
		border-bottom: none;
	}
	#galeria-1-titulo::after{
		width: 0;
		border-bottom: none;
	}
	.galeria-1-esp{
		width: 100%;
		margin:20px auto;
	}
	.galeria-1-img{
		height: auto;
		width: 80%;
		position: relative;
		margin:0px auto;
	}
	.galeria-1-img img{
		width: 100%;
		height: auto;
		position: relative;
	}
}