header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 3px 5px 0.3px rgba(0,0,0,.24);
}
#header-info{
    width: 100%;
    padding:8px 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}
#header-info-redes{
    width: auto;
    display: flex;
}
.header-red{
    color: rgba(255,255,255,1);
    margin:0px 10px;
    font-size: .6em;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(2,82,86,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.header-red a{
    color: rgba(255,255,255,1);
    display: block;
}
.red-facebook{
    background-color: rgba(41,72,125,1);
}
.red-whatsapp{
    background-color: rgba(37,211,102,1);
}
.red-youtube{
    background-color: rgba(255,255,255,1);
}
.red-youtube a{
    color: rgba(219,68,55,1);
}
.header-red:nth-child(1):hover{
    background-color: rgba(41,72,125,1);
}
.header-red:nth-child(2):hover{
    background-color: rgba(37,211,102,1);
}
.header-red:nth-child(3):hover{
    background-color: rgba(193,53,132,1);
}
#header-contenedor{
    width: 100%;
    padding:10px 5%;
    box-sizing: border-box;
    position: relative;
}
.header-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu-mobile{
    position: absolute;
    display: none;
}
#menumob-mobile{
    display: none;
}
#logo{
    opacity: 0;
    position: relative;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    width: 120px;
    text-align: center;
}
#logo a img{
    width: 120px;
    position: absolute;
    top: -52px;
    left: 0;
}
/*Menu*/
nav{
    /*Flexbox*/
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
nav a,nav p, nav span{
    color: rgba(2,82,86,1);
    text-align: center;
    padding:10px 15px;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    border-bottom: 2px solid rgba(2,82,86,0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: auto;
    font-size: 15px;
    border-bottom: 3px solid rgba(255,255,255,0);
    box-sizing: border-box;
    position: relative;
}
nav a:first-letter,nav p:first-letter, nav span:first-letter{
    text-transform: uppercase;
}
nav a:hover, nav p:hover, nav span:hover{
    border-bottom: 3px solid rgba(2,82,86,1);
   
    border-image-slice: 1;
    background-color: rgba(255,255,255,.2);
    -webkit-border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.nav-scroll a,
.nav-scroll span{
    color: rgba(2,82,86,1);
}
.nav-scroll a:hover,
.nav-scroll span:hover{    
    border-bottom: 3px solid rgba(2,82,86,1);
    border-image-slice: 1;
}
.navActivo{
    border-bottom: 3px solid rgba(2,82,86,1);
    
    border-image-slice: 1;
    background-color: rgba(255,255,255,.2);
    -webkit-border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
#header-borde{
    width: 100%;
    height: 102px;
}
.submenu {
    width: 300px;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    background-color: #30c5ed;
    background-color: rgba(53,136,149,.9);
    -webkit-border-radius: 0px 6px 6px 6px;
    -moz-border-radius: 0px 6px 6px 6px;
    border-radius: 0px 6px 6px 6px;
    left: 0;
    text-align: left;
    top: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity, top 0.5s ease-out;
    -moz-transition: opacity, top 0.5s ease-out;
    -o-transition: opacity, top 0.5s ease-out;
    transition: opacity, top 0.5s ease-out;
}
.submenu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    top: -16px;
    left: 0;
}
.submenu::after {
    content: "";
    width: 0px;
    height: 0px;
    border-bottom: 15px solid rgba(53,136,149,.9);
    border-right: 15px solid transparent;
    position: absolute;
    top: -15px;
    left: 0;
}
.submenu-op {
    width: 100%;
    padding: 5px 10px;
    color: rgba(255,255,255,1) !important;
    display: block;
    position: relative;
    text-align: left;
    margin-top: 5px;
    border-bottom: 1px dashed rgba(255,255,255,1);
    box-sizing: border-box;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.submenu-op:hover {
    border-bottom: 1px solid rgba(255,255,255,1) !important;
    /*background-color: initial;*/
}
nav span:hover .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 55px;
}
@media (max-width: 1000px){
    header{
        z-index: 101;
    }
    #logo{
        position: initial;
    }
    #logo a img{
        position: relative;
        top: 0;
        width: 95px;
        left: auto;
        right: auto;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
    }
    #header-info
    {
        display: none;
    }
    #header-contenedor{
        justify-content: center;
        padding: 10px 5%;
    }
    #nav{
        display: none;
    }
    #header-buscador{
        display: none;
    }
    #header-info-email, #header-info-tel{
        display: none;
    }
    #menu-mobile{
        display: block;
        top: 27px;
        left: 30px;
        color: rgba(2,82,86,1);
    }
    #menumob-mobile{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        left: -100%;
    }
    #menumob-fondo-mobile{
        position: relative;
        width: 100%;
        height: 100%;
        left: -100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/*100*/
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        background-color: rgba(0,0,0,.7);
        -webkit-transition: opacity 0.5s ease-out;
        -moz-transition: opacity 0.5s ease-out;
        -o-transition: opacity 0.5s ease-out;
        transition: opacity 0.5s ease-out;
        z-index: 1;
    }
    #menumob-opciones-mobile{
        position: absolute;
        width: 300px;
        top: 0;
        height: 100%;
        left: -100%;
        background-color: rgba(0,0,0,.7);
        -webkit-transition: left 0.5s ease-out;
        -moz-transition: left 0.5s ease-out;
        -o-transition: left 0.5s ease-out;
        transition: left 0.5s ease-out;
        z-index: 5;
        background-color: rgba(255,255,255,1);
    }
    #menumob-presentacion-mobile{
        width: 100%;
        height:auto;
        padding:15px 0px;
        box-sizing: border-box;
        background-color: rgba(2,82,86,.2);
        text-align: center;
        border-bottom: 2px dotted rgba(180,180,180,1);
    }
    #menumob-presentacion-mobile img{
        width: 140px;
        height: auto;
        display: block;
        margin:0px auto 20px auto;
    }
    #menumob-presentacion-mobile a:nth-child(1){
        display: block;
        background-color: rgba(2,82,86,0);
    }
    #menumob-presentacion-mobile a:nth-child(2),
    #menumob-presentacion-mobile a:nth-child(3){
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%; 
        -moz-border-radius: 50%; 
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
    }
    #menumob-presentacion-mobile a{
        background-color: rgba(255,255,255,1);
        position: relative;
        color: rgba(2,82,86,1);
        text-decoration: none;
        display: inline-block;
        margin:0px 5px;
    }
    #menumob-presentacion a div{
        font-size: 1.3em;
        width: 40px;
        height: 40px;
        background-color: rgba(255,255,255,1);
        display: inline-block;
        vertical-align: top;
        -webkit-border-radius: 50%; 
        -moz-border-radius: 50%; 
        border-radius: 50%;
        margin:0px 10px;
        box-sizing: border-box;
    }
    #menumob-presentacion-mobile .telefono:before{
        margin:0px auto;
        position: relative;
    }
    #menumob-presentacion-mobile .email:before{
        margin:0px auto;
        position: relative;
    }
    #menumob-contenedor-mobile{
        width: 90%;
        box-sizing: border-box;
        margin:30px auto;
        overflow: auto;
        max-height: 250px;
    }
    .menumob-conte-opcion-mobile{
        font-size: 13px;
        text-align: left;
        padding:10px 0px;
        box-sizing: border-box;
        border-bottom: 1px dotted rgba(2,82,86,1);
    }
    .menumob-conte-opcion-mobile:first-letter{
        text-transform: uppercase;
    }
    .menumob-conte-opcion-mobile a,
    .menumob-conte-opcion-mobile p,
    .menumob-conte-opcion-mobile span{
        color: rgba(2,82,86,1);
        font-family: 'Titulo',helvetica,verdana,sans-serif;
        text-decoration: none;
        position: relative;
    }
    .submenum{
        width: 100%;
        display: block;
        height: 0;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .submenum a{
        display: block;
        width: 100%;
        padding:5px 10px;
        box-sizing: border-box;
        position: relative;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .submenum a::before{
        content: "-";
        position: absolute;
        left: 0;
        top: 5px;   
    }
    .arriba::before{
        right: 10px;
        top: 0;
        position: absolute;
        transform: rotate(180deg);
    }
    #menumob-cerrar-mobile{
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%; 
        -moz-border-radius: 50%; 
        border-radius: 50%;
        background-color: rgba(2,82,86,1);
        text-align: center;
        z-index: 7;
        position: relative;
        margin: 0px auto;
    }
    #menumob-cerrar-mobile span{
        font-size: 1.3em;
        color: rgba(255,255,255,1);
        position: relative;
        top: 8px;
    }
    #header-borde{
        width: 100%;
        height: 78px;
    }
}