header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#header-info{
    width: 100%;
    padding:5px 4%;
    box-sizing: border-box;
    color:rgba(5, 144, 228, 1);
    font-size: 15px;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    text-align: right;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    border-bottom:solid 1px rgba(5, 32, 54, 1) ;
    border-bottom-style:dashed;

}
.header-info-sc-a{
    /*Vino Tinto*/
    /*background-color: rgba(255,152,0,.6);*/
    /*background-color: rgba(254,203,52,1);*/
    /*background-color: rgba(6,38,63,1);*/
     /*background-color:rgba(46, 86, 116, 1);*/
     background-color:rgba(255,255,255,1);
}
.header-info-sc-b{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background:linear-gradient(to bottom,rgb(0,0,0) ,rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(bottom,rgb(0,0,0) ,rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(bottom,rgb(0,0,0) ,rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, center top, center bottom, from(rgb(0,0,0)),color-stop(100%, rgba(0,0,0,0)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#00000000, GradientType=0);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#00000000', GradientType=0);
}
#header-info-email,
#header-info-tel,
#header-info-redes{
    display: inline-block;
    vertical-align: middle;
    margin:0px 10px;
}
#header-info-email p,
#header-info-tel p{
    display: inline;
}
#header-info-email a,
#header-info-tel a{
    color: rgba(5, 32, 54, 1);
}
#header-info-email a:hover,
#header-info-tel a:hover{
    text-decoration: underline;
}
.header-red{
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    margin:0px 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 25px;
    font-size: .8em;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-align: center;
}
.header-red:hover{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg); 
    transform: rotate(360deg);
}
.header-red a{
    color: rgba(5, 32, 54, 1);
}
.red-facebook{
    background-color: rgba(41,72,125,1);
}
.red-google{
    background-color: rgba(255,255,255,1);
}
.red-google a{
    color: rgba(219,68,55,1);
}
.red-whatsapp{
    background-color: rgba(37,211,102,1);
}
.red-youtube{
    background-color: rgba(255,255,255,1);
}
.red-youtube a{
    color: rgba(219,68,55,1);
}
#header-contenedor{
    width: 100%;
    padding:10px 5%;
    box-sizing: border-box;
    align-items: center;
    /*Flexbox*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-contenedor{
   /* border-bottom: 1px solid rgba(220,220,220,1);*/
    box-shadow: 0 3px 5px 0.3px rgba(0,0,0,.24);
    background-color: rgba(255,255,255,1);
}
#menu-mobile{
    position: absolute;
    display: none;
}
#menumob-mobile{
    display: none;
}
#logo{
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
#logo a img{
    width: 125px;
}
/*Menu*/
nav{
    /*Flexbox*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
nav a,nav p,nav span{
    color: rgba(80,80,80,1);
    text-align: center;
    padding:10px 15px;
    flex-grow: 1;
    position:relative;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    /*border-top: 2px dashed rgba(19,59,100,0);*/
    border-bottom: 2px solid rgba(19,59,100,0);
    -webkit-transition: color,border 0.5s ease-out;
    -moz-transition: color,border 0.5s ease-out;
    -o-transition: color,border 0.5s ease-out;
    transition: color,border 0.5s ease-out;
}
nav a:first-letter,nav p:first-letter{
    text-transform: uppercase;
}
nav a:hover, nav p:hover, nav span:hover{
    /*border-top: 2px dashed rgba(6,38,63,.8);*/
    border-bottom: 2px solid rgba(5, 144, 228, 1);
}
.nav-scroll a{
    color: rgba(80,80,80,1);
}
.nav-scroll a:hover{    
    /*color: rgba(6,38,63,.8);*/
    color:rgba(5, 144, 228, 1);
}
.navActivo{
    color: rgba(6,38,63,.8);
    
    /*border-bottom: 2px solid rgba(6,38,63,.8);*/
     border-bottom: 2px solid rgba(5, 144, 228, 1);
}
.submenu{
    width:300px;
    position:absolute;
    padding:20px;
    box-sizing:border-box;
    height:200px;
    background-color: #30c5ed;
    background-image: linear-gradient(19deg, #30c5ed 0%, #2e5674 90%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    text-align:left;
    top:20px;
    opacity:0;
    visibility:hidden;
    -webkit-transition: opacity, top 0.5s ease-out;
    -moz-transition: opacity, top 0.5s ease-out;
    -o-transition: opacity, top 0.5s ease-out;
    transition: opacity, top 0.5s ease-out;
}
.submenu::after{
    content: "";
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(46, 86, 116, .95);
    position: absolute;
    top: -15px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
}
.submenu::before{
    content:"";
    position:absolute;
    width:100%;
    height: 16px;
    top: -16px;
    left:0;
}
.submenu-op{
    width:100%;
    padding:5px 10px;
    color:rgba(255,255,255,1) !important;
    display:block;
    position:relative;
    text-align:left;
    margin-top:5px;
    border-bottom:1px dashed rgba(255,255,255,1);
    border-left:3px solid rgba(255,255,255,1);
    box-sizing:border-box;
    font-family: 'Titulo',helvetica,verdana,sans-serif;
    -webkit-transition: border 0.5s ease-out;
    -moz-transition: border 0.5s ease-out;
    -o-transition: border 0.5s ease-out;
    transition: border 0.5s ease-out;
}
.submenu-op:hover{
    border-left:6px solid rgba(255,255,255,1);
    border-bottom:1px solid rgba(255,255,255,1);
}
nav span:hover .submenu{
    display:block;
    opacity:1;
    visibility:visible;
    top:55px;
}
#header-borde{
    width: 100%;
    height: 100px;
}
@media (max-width: 1000px){
    header{
        z-index: 101;
    }
    #header-contenedor{
        justify-content: center;
    }
    #nav{
        display: none;
    }
    #header-buscador{
        display: none;
    }
    #header-info-email, #header-info-tel{
        display: none;
    }
    #menu-mobile{
        display: block;
        top: 57px;
        left: 30px;
        color: rgba(6,38,63,1);
    }
    #menumob-mobile{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        left: -100%;
    }
    #menumob-fondo-mobile{
        position: relative;
        width: 100%;
        height: 100%;
        left: -100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/*100*/
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        background-color: rgba(0,0,0,.7);
        -webkit-transition: opacity 0.5s ease-out;
        -moz-transition: opacity 0.5s ease-out;
        -o-transition: opacity 0.5s ease-out;
        transition: opacity 0.5s ease-out;
        z-index: 1;
    }
    #menumob-opciones-mobile{
        position: absolute;
        width: 70%;
        top: 0;
        height: 100%;
        left: -100%;
        background-color: rgba(0,0,0,.7);
        -webkit-transition: left 0.5s ease-out;
        -moz-transition: left 0.5s ease-out;
        -o-transition: left 0.5s ease-out;
        transition: left 0.5s ease-out;
        z-index: 5;
        background-color: rgba(255,255,255,1);
    }
    #menumob-presentacion-mobile{
        width: 100%;
        height:auto;
        padding:15px 0px;
        box-sizing: border-box;
        background-color: rgba(6,38,63,.4);
        text-align: center;
        border-bottom: 2px dotted rgba(180,180,180,1);
    }
    #menumob-presentacion-mobile img{
        width: 140px;
        height: auto;
        display: block;
        margin:0px auto 20px auto;
    }
    #menumob-presentacion-mobile a:nth-child(1){
        display: block;
        background-color: rgba(19,59,100,.01);
    }
    #menumob-presentacion-mobile a:nth-child(2),
    #menumob-presentacion-mobile a:nth-child(3){
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%; 
        -moz-border-radius: 50%; 
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
    }
    #menumob-presentacion-mobile a{
        background-color: rgba(255,255,255,1);
        position: relative;
        color: rgba(6,38,63,.8);
        text-decoration: none;
        display: inline-block;
        margin:0px 5px;
    }
    #menumob-presentacion a div{
        font-size: 1.3em;
        width: 40px;
        height: 40px;
        background-color: rgba(255,255,255,1);
        display: inline-block;
        vertical-align: top;
        -webkit-border-radius: 50%; 
        -moz-border-radius: 50%; 
        border-radius: 50%;
        margin:0px 10px;
        box-sizing: border-box;
    }
    #menumob-presentacion-mobile .telefono:before{
        margin:0px auto;
        position: relative;
    }
    #menumob-presentacion-mobile .email:before{
        margin:0px auto;
        position: relative;
    }
    #menumob-contenedor-mobile{
        width: 90%;
        padding: 30px 0px;
        box-sizing: border-box;
        margin:0px auto;
    }
    .menumob-conte-opcion-mobile{
        font-size: 13px;
        text-align: left;
        padding:10px 0px;
        box-sizing: border-box;
        border-bottom: 1px dotted rgba(6,38,63,.8);
    }
    .menumob-conte-opcion-mobile a,
    .menumob-conte-opcion-mobile span{
        color: rgba(6,38,63,1);
        font-family: 'Titulo',helvetica,verdana,sans-serif;
        text-decoration: none;
        margin-left: 7px;
    }
    .submenumob{
        width:80%;
        padding:8px 10px 0px 10px;
        box-sizing:border-box;
    }
    .submenumob a{
        color:rgba(6,38,63,1) !important;
        margin:0px auto;
        border-bottom:1px dotted rgba(160,160,160,1);
    }
    #menumob-cerrar-mobile{
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%; 
        -moz-border-radius: 50%; 
        border-radius: 50%;
        background-color: rgba(6,38,63,.8);
        text-align: center;
        z-index: 7;
        position: relative;
        margin: 0px auto;
    }
    #menumob-cerrar-mobile span{
        font-size: 1.3em;
        color: rgba(255,255,255,1);
        position: relative;
        top: 8px;
    }
}