#imagen-banner-3{
	width: 100%;
	display: block;
	position: relative;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: 50px;
}
#imagen-banner-3::before{
    width: 100%;
    content: " ";
    background-image: url(../assets/bnosotros.png);
    position: absolute;
    left: 0%;
    top: -1px;
    height: 53px;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    z-index: 3;
}
#imagen-banner-3::after{
    width: 100%;
    content: " ";
    background-image: url(../assets/bnosotros.png);
    position: absolute;
    left: 0%;
    bottom: -1px;
    height: 53px;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
	z-index: 3;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
#imagen-banner-3-capa{
	width: 100%;
	height: 100%;
	position: relative;
	top:0;
	left: 0;
	background-color: rgba(53,136,149,.6);
	padding:90px 5%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-end
}
#imagen-banner-3-titulo{
	width: 60%;
	height: auto;
	text-align: center;
	color: rgba(255,255,255,1);
	font-size: 35px;
	font-family: 'Titulo',helvetica,verdana,sans-serif;
	position: relative;
	display: block;
	text-transform: uppercase;
}
#imagen-banner-3-capa p{
	font-size: 17px;
	line-height: 1.5em;
	color: rgba(255,255,255,1);
	font-family: 'Principal',helvetica,verdana,sans-serif;
	width: 60%;
	margin:50px 0px 20px 0px;
	text-align: center;
}
@media (max-width: 1000px){
	#imagen-banner-3{
		background-attachment: scroll;
	}
}
@media (max-width: 800px){
	#imagen-banner-3-titulo,
	#imagen-banner-3-capa p{
		width: 100%;
	}
}
