.cont-landing {
    position: fixed;
    background: rgb(232, 145, 65, 1);
    background: linear-gradient(171deg, rgba(232, 145, 65, 1) 23%, rgba(6, 38, 63, 1) 81%);
    width: 80vw;
    height: fit-content;
    max-height: 90vh;
    z-index: 9999;
    display: none;
    margin: 0 auto;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.info-landing {
    display: flex;
    width: 100%;
    height: auto;
    padding: 12px;
    border-radius: 10px;
    gap: 20px; /* Espacio entre el contenido y el formulario */
}

.info-landing section {
    width: 70%; /* valor ideal 60% */
    height: 100%;
    gap: 1.5rem;
    border-radius: 1rem;
}

.landing {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.landing .text1 {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    flex-wrap: wrap;
}

.text1 h1 {
    font-size: 2.5rem;
    color: #06263f;
}

.landing .text2 {
    flex: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.titulo-landing {
    font-size: larger;
    width: 100%;
    margin-bottom: auto;
}

.titulo-landing h1 {
    font-size: 1.5rem;
    padding: 10px;
    color: rgba(0, 17, 52, 1);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 3px 2px 5px rgb(0 0 0 / 36%);
}

.descripcion-landing {
    position: relative;
	height: 10%;
	margin: auto 0;
}

.descripcion-landing p {
	width: 100%;
	margin: 0;
	padding: 10px;
	color: #115082;
}

.texto-landing {
	position: relative;
	height: 25%;
}

.texto-landing p {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 10px;
	color: #fff;
	font-size: 1rem;
}

.text3 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e89141;
	color: #06263f;
    text-decoration: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin-top: 20px;
	justify-content: center;
	align-items: center;	
	box-shadow: 17px 13px 8px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.text a p {
    margin: 0;
	font-weight: bold;
	text-align: center;
}

.text3 a:hover {
    background-color: #C0C0C0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.formulario {
    width: 55%; /* Ajustamos el ancho del formulario para que ocupe el 40% del espacio */
    height: 100%;
    margin-top: 6rem;
    margin-right: 1rem;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0px 5px 7px 0px black;
}

.formulario .promesa {
    font-size: larger;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: rgba(0, 17, 52, 1);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 3px 2px 5px rgb(0 0 0 / 36%);
}

.formulario h3 {
    padding: 10px;
    color: rgba(0, 17, 52, 1);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 3px 2px 5px rgb(0 0 0 / 36%);
}

.formulario iframe {
    width: 100%;
    height: 360px;
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: fit-content;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
}

@media only screen and (max-width: 1024px) {
    .info-landing {
        flex-direction: column; /* Cambia el layout a columnas para que el contenido y el formulario estén apilados */
        align-items: center;
        gap: 10px;
    }

    .info-landing section, .formulario {
        width: 90%; /* Ambos tomarán un ancho del 90% para mejorar la visualización en pantallas más pequeñas */
        margin: 0;
    }

    .text3{
        text-align: center;
    }

    .formulario {
        margin-top: 2rem; /* Reduce el margen superior en pantallas más pequeñas */
        height: auto; /* Permite que el formulario sea más flexible en altura */
    }

    .formulario iframe {
        height: 300px; /* Ajusta la altura del iframe para que no ocupe demasiado espacio */
    }
}

@media only screen and (max-width: 768px) {
    .cont-landing {
        width: 90vw;
        height: fit-content;
        max-height: 85vh;
        top: 5%; /* Reduce el espacio superior */
    }

    .info-landing {
        flex-direction: column; /* Apila los elementos en lugar de mantenerlos en fila */
        align-items: center;
    }

    .info-landing section, .formulario {
        width: 95%; /* Ancho casi total en móviles */
    }

    .formulario {
        margin-top: 1rem;
        padding: 15px; /* Reduce el padding para ahorrar espacio */
    }

    .formulario iframe {
        height: 250px; /* Ajusta el iframe a un tamaño más pequeño */
    }

    .text1 h1 {
        font-size: 1.5rem; /* Reduce el tamaño de los encabezados en móviles */
    }

    .titulo-landing h1, .formulario h3 {
        font-size: 1.2rem; /* Reduce el tamaño del título para pantallas pequeñas */
    }

    .descripcion-landing p, .texto-landing p {
        font-size: 0.9rem; /* Reduce el tamaño del texto de las descripciones */
    }
}

@media only screen and (max-width: 480px) {

    .info-landing section, .formulario {
        width: 100%;
    }

    .text3 {
        text-align: center;
    }

    .formulario {
        padding: 10px;
    }

    .formulario iframe {
        height: 200px; /* Un tamaño aún más reducido en pantallas extremadamente pequeñas */
    }

    .close-button {
        top: 10px;
        right: 10px;
        font-size: 0.9rem;
    }
}