#nosotros-1 {
    width: 100%;
    margin: 0 auto;
    padding: 50px 5%;
    box-sizing: border-box;
    max-width: 1500px;
    position: relative;
}

#nosotros-1-titulo {
    color: rgba(232, 145, 65, 1);
    font-size: 50px;
    text-align: center;
}

#nosotros-1-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.nosotros-1-tarjeta {
    background-color: rgba(6, 38, 63, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.nosotros-1-img {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.nosotros-1-texto {
    padding: 10px;
    width: 100%;
    flex-grow: 1;
}

.nosotros-1-texto p {
    color: rgba(255, 255, 255, 1);
    font-family: 'Montserrat-bold';
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: justify;
}

.nosotros-1-contenedor .nosotros-1-tarjeta:hover {
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .nosotros-1-tarjeta {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .nosotros-1-tarjeta {
        width: 90%;
    }

    #nosotros-1-titulo {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    #nosotros-1 {
        padding: 20px 5%;
    }

    .nosotros-1-tarjeta {
        width: 100%;
    }

    #nosotros-1-titulo {
        font-size: 30px;
    }

    .nosotros-1-texto p {
        font-size: 0.7em;
    }
}