#noticia-1 {
  width: 100%;
  padding: 25px 0 10px;
  box-sizing: border-box;
  /*max-width: 1500px;*/
  margin: 0px auto;
  text-align: center;
  background: linear-gradient(180deg, rgba(232, 145, 65, 0.5) 53%, rgba(6, 38, 63, 0.5) 80%, rgba(6, 38, 63, 1) 100%);
}

#noticia-1-titulo {
  color: #06263F;
  font-size: 50px;
  text-align: center;
  margin: 0px;
  padding-bottom: 1rem;
}


.noticia-1-contenido {
  display: ruby;
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 0px;
  max-width: 1500px;
}

.noticias {
  box-shadow: 0 0 5px #06263F;
  color: #06263F;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

.noticias * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.noticias img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.75;
  min-height: 27rem;
  height: 100%;
  width: 100%;
}

.noticias figcaption {
  padding: 6px 11px 6px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: #c0c0c08a;
}

.noticias figcaption p {
  font-family: 'Raleway', sans-serif;
}

.noticias .date {
  background-color: #e89141;
  color: #06263F;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.noticias .date span {
  display: block;
  line-height: 14px;
}

.noticias .date .month {
  font-size: 11px;
}

.noticias h3,
.noticias p {
  margin: 0;
  padding: 0;
}

.noticias h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

.noticias .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #e8914152;
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.noticias a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.noticias:hover .hover,
.noticias.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.noticias:hover figcaption,
.noticias.hover figcaption {
  opacity: 0;
}

.noticias:hover .date,
.noticias.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}


button {
	border: unset;
    border-radius: 15px;
    color: #06263F;
    z-index: 1;
	background: #e89141;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    width: 13.5rem;
    height: 2.5rem;
}

button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 15px;
	background-color: #06263F;
	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms
}

button:hover {
	color: #e89141;
}

button:hover::before {
	width: 100%;
}

@media screen and (max-width: 750px) {
  #noticia-1-titulo {
    font-size: 2rem;
    transition: 500ms;
  }

  .noticias img {
    min-height: 10rem;
  }

  .noticias {
    height: 400px;
  }
}

