#oferta-academica {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

#oferta-academica-titulo {
    text-align: center;
    color: rgba(6, 38, 63, 1);
    font-size: 50px;
}

#oferta-academica-contenido {
    width: 90%;
    height: auto;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0px auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.oferta-card {
    position: relative;
    max-width: 310px;
    min-width: 250px;
    background: #e89141;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
}

.oferta-card::before,
.oferta-card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #06263F;
    transition: all 0.5s;
}

.oferta-card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.oferta-card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
}

.oferta-card:hover::before,
.oferta-card:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.oferta-academica-texto {
    font-size: 20px;
    text-align: center;
    z-index: 1;
    margin: 0;
    padding: 8px;
    color: rgba(255, 255, 255, 1);
}

.oferta-card img {
    width: 100%;
    height: 250px;
    padding: 8px;
    object-fit: cover;
}

.oferta-card-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

.oferta-card:hover .oferta-card-button-container {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    font-size: 30px;
}

.oferta-card-button-container a{
    color: rgba(255, 255, 255, 1);
}

.oferta-card-button {
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

button {
    border: unset;
    border-radius: 15px;
    color: #06263F;
    z-index: 1;
    background: #e89141;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    width: 13.5rem;
    height: 2.5rem;
    cursor: pointer;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #06263F;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    color: #e89141;
}

button:hover::before {
    width: 100%;
}

@media (max-width: 768px) {

    #galeria-6-titulo {
        font-size: 35px;
    }

    #galeria-6-cont {
        flex-wrap: wrap;
    }

    .galeria-6-esp {
        width: 100%;
        margin: 10px auto;
    }
}