#oferta-academica {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

#oferta-academica-titulo {
    text-align: center;
    color: rgba(6, 38, 63, 1);
    font-size: 50px;
}

#oferta-academica-contenido {
    width: 90%;
    height: auto;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0px auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.link-oferta-academica {
    max-width: 310px;
    min-width: 250px;
    margin-bottom: 40px;
    float: left;
    background-color: #e89141;
    border-radius: 13px;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.link-oferta-academica img {
    width: 100%;
    height: 250px;
    padding: 8px;
    object-fit: cover;
}

.oferta-academica-texto {
    position: relative;
    float: left;
    bottom: 0px;
    padding: 11px 12px;
}

.oferta-academica-texto h3 {
    margin-bottom: 40px;
    font-size: 24px;
    color: rgba(0, 17, 52, 1);
}

.boton {
    border: unset;
    border-radius: 15px;
    color: rgba(0, 17, 52, 1);
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    font-weight: 1000;
    font-size: 15px;
    padding: 9px 15px;
    float: left;
    text-align: center;
    margin-top: 22px;
    transition: all 250ms;
    overflow: hidden;
    z-index: 1;
    bottom: 10px;
    left: 10px;
}

.boton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #06263F;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.link-oferta-academica:hover .boton {
    color: #e89141
}

.link-oferta-academica:hover .boton::before {
    width: 100%;
}

button {
    cursor: pointer;
}

@media (max-width: 768px) {

    #oferta-academica-titulo {
        font-size: 35px;
    }

    #galeria-6-cont {
        flex-wrap: wrap;
    }

    .galeria-6-esp {
        width: 100%;
        margin: 10px auto;
    }
}