#post-1 {
	width: 90%;
	margin: 0px auto;
	box-sizing: border-box;
	position: relative;
}

.titulo-centrado {
	text-align: center;
	border-radius: 10px;
	width: 100%;
	padding: 1rem 6.5rem;
	margin-top: 1rem;
	background-color: #06263F;
}

.titulo-centrado h1 {
	font-size: 2.5em;
	color: #e89141;
	margin-bottom: 10px;
}

.titulo-centrado p {
	font-size: 1rem;
	line-height: 1.6;
	margin: 5% 5% 0% 5%;
	padding-top: 0.5rem;
	color: #c0c0c0;
}



#post-1-conta {
	padding: 1rem 5.5rem 0;
	margin-top: 1rem;
	width: 100%;
	height: fit-content;
	position: relative;
	display: inline-flex;
}

.article {
	width: 100%;
	padding: 12px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
	height: 50vh;
	position: relative;
	overflow: visible;
}
.article section {
	width: 60%;
	z-index: 1;
}

.article-2 {
	width: 100%;
	padding: 12px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
	height: 50vh;
	position: relative;
	overflow: visible;
}
.article-2 section {
	width: 60%;
	z-index: 1;
}

.content {
	padding: 0 20px;
}

.headline {
	color: #e89141;
}

.content p {
	color: #06263F;
}

.img-container {
	max-width: 40%;
	height: 100%;
	overflow: visible;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	/* Centra horizontalmente */
	align-items: center;
}

.article img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	display: block;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	transform-origin: center;
	/* Escala desde el centro */
}

.article-2 img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	display: block;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	transform-origin: center;
	/* Escala desde el centro */
}

.img-container:hover img {
	transform: scale(1.3);
	/* Escala la imagen */
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
	z-index: 3;
}


#post-1-video {
	width: 90%;
	margin: 0px auto;
	padding: 50px 0px;
	box-sizing: border-box;
}

#post-1-video-cont {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	padding: 0px 20px;
	box-sizing: border-box;
}

#post-1-video-titulo {
	width: 100%;
	font-size: 23px;
	line-height: 1.6em;
	font-family: 'Principal', helvetica, verdana, sans-serif;
	color: rgba(2, 82, 86, 1);
	margin-bottom: 30px;
	text-transform: uppercase;
}

#post-1-video-contenido {
	width: 100%;
	font-size: 17px;
	line-height: 1.6em;
	font-family: 'Principal', helvetica, verdana, sans-serif;
	color: rgba(80, 80, 80, 1);
}

#post-1-video-video {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

#post-1-video-video iframe {
	width: 100%;
	height: 400px;
}

#post-1-contenido {
	width: 90%;
	margin: 0px auto;
	padding: 50px 0px;
	box-sizing: border-box;
	font-size: 17px;
	line-height: 1.6em;
	font-family: 'Principal', helvetica, verdana, sans-serif;
	color: rgba(80, 80, 80, 1);
}

@media (max-width: 870px) {
	#post-1-conta{
		padding: 0;
	}
	.article {
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	.article-2 {
		flex-direction: column-reverse;
		align-items: center;
		height: auto;
	}

	.article section {
		width: 100%;
		margin-bottom: 20px;
	}

	.article-2 section {
		width: 100%;
		margin-bottom: 20px;
	}

	.img-container {
		width: 100%;
		max-width: 80%;
		/* Imagen toma todo el ancho */
	}

	.img-container:hover img {
		transform: scale(1.3);
		/* Escala más pequeña en pantallas pequeñas */
	}

	.titulo-centrado{
		padding: 0;
	}

	.titulo-centrado h1 {
		font-size: 2em;
		/* Ajusta el tamaño del título para pantallas medianas */
	}

	.titulo-centrado p {
		font-size: 1em;
		/* Ajusta el tamaño del texto para pantallas medianas */
	}
	#post-1-video {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#post-1-video-cont {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding: 0px 20px;
		box-sizing: border-box;
	}

	#post-1-video-video {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
}

@media (max-width: 480px) {
	.article {
		padding: 8px;
		height: auto;
	}

	.article-2 {
		padding: 8px;
		height: auto;
	}

	.content {
		padding: 0 10px;
	}

	.img-container {
		width: 100%;
		max-width: 100%;
	}

	.img-container:hover img {
		transform: scale(1.1);
		/* Aún más pequeña para pantallas muy pequeñas */
	}

	.titulo-centrado h1 {
		font-size: 1.5em;
		/* Ajusta el tamaño del título para pantallas pequeñas */
	}

	.titulo-centrado p {
		font-size: 0.9em;
		/* Ajusta el tamaño del texto para pantallas pequeñas */
	}
	#post-1-video {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#post-1-video-cont {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding: 0px 20px;
		box-sizing: border-box;
	}

	#post-1-video-video {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
}

.container {
	margin: 5% auto;
	padding: 20px;
	background-color: #06263ff5;
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.text-center {
	color: #e89141;
	text-align: center;
	margin-bottom: 1em;
}

.lightbox-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.lightbox-gallery div>img {
	max-width: 100%;
	display: block;
}

.lightbox-gallery div {
	margin: 10px;
	flex-basis: 24rem;
}

@media only screen and (max-width: 480px) {
	.lightbox-gallery {
		flex-direction: column;
		align-items: center;
	}

	.lightbox>div {
		margin-bottom: 10px;
	}
}