#texto-info-5{
	width: 100%;
	padding: 50px 10%;
	box-sizing: border-box;
	margin:0px auto;
	max-width:1500px;
	position: relative;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 310px;
    -webkit-background-size: 100% 310px;
    -moz-background-size: 100% 310px;
    -o-background-size: 100% 310px;
    background-image: url(../assets/blog.png);
    background-position-y:0px;
    text-align: center;
}
#texto-info-5-img{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 300px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:5px solid rgba(255,255,255,1);
    margin-right: 50px;
    box-sizing: border-box;
}
#texto-info-5-cont{
	display: inline-block;
	vertical-align: top;
	width: calc(90% - 300px);
	padding:20px;
	box-sizing: border-box;
	position: relative;
	margin:0px auto;
	background-color: rgba(255,255,255,1);
    border: 2px solid rgba(53,136,149,1);
    box-shadow: 4px 3px 5px 3px rgba(0,0,0,.24);
    overflow: hidden;
}
#texto-info-5-titulo{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Principal',helvetica,verdana,sans-serif;
	color: rgba(53,136,149,1);
	font-size: 26px; 
	text-transform: uppercase;
}
#texto-info-5-contenido{
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	margin:20px auto 0px auto;
	font-family: 'Principal',helvetica,verdana,sans-serif;
	color: rgba(80,80,80,1);
	font-size: 17px;
	line-height: 1.6em;
}
@media (max-width: 1000px){
	#texto-info-5-img{
		display: block;
		margin:0px auto;
	}
	#texto-info-5-cont{
		width: 100%;
		margin:20px auto;
		display: block;
	}
	#texto-info-5-titulo{
		font-size: 23px;
	}
	#texto-info-5-contenido{
		text-align: center;
		font-size: 15px;
	}
}
@media (max-width: 480px){
	#texto-info-5{
		padding:25px 5%;
	}
	#texto-info-5-cont{
		width: 100%;
	}
	#texto-info-5-img{
		width: 200px;
		height: 200px;
	}
}