#texto-info-2{
	width: 100%;
	padding: 50px 5%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-image: url("../assets/nosotros.png");
    background-position-x:-400px; 
}
#texto-info-2-img{
	width: 40%;
	position: relative;
	height: auto;
}
#texto-info-2-cont{
	width: 60%;
	padding:0px 5% 0px 0px;
	box-sizing: border-box;
}
#texto-info-2-titulo{
	width: 300px;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Titulo',helvetica,verdana,sans-serif;
	color: rgba(53,136,149,1);
	font-size: 35px; 
	text-transform: uppercase;
	position: relative;
	margin:0px auto;
}
#texto-info-2-titulo::before{
	width: 60px;
    content: " ";
    background-image: url(../assets/trianguloc.png);
    position: absolute;
    left: 0%;
    top: 0px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 60px auto;
    -webkit-background-size: 60px auto;
    -moz-background-size: 60px auto;
    -o-background-size: 60px auto;
    z-index: 1;
}
#texto-info-2-contenido{
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	margin:20px auto 0px auto;
	font-family: 'Principal',helvetica,verdana,sans-serif;
	color: rgba(80,80,80,1);
	font-size: 17px;
	line-height: 1.6em;
}
@media (max-width: 900px){
	#texto-info-2{
		flex-direction: row;
		flex-wrap: wrap;
	}
	#texto-info-2-img{
		width: 100%;
		display: block;
		margin:0px auto;
	}
	#texto-info-2-cont{
		width: 100%;
		margin:20px auto;
		padding:0;
		display: block;
	}
	#texto-info-2-contenido{
		text-align: justify;
	}
}
@media (max-width: 480px){
	#texto-info-2{
		padding:25px 5%;
	}
	#texto-info-2-img{
		width: 100%;
	}
	#texto-info-2-cont{
		width: 100%;
	}
	#texto-info-2-contenido{
		font-size: 15px;
	}
}