#contenedor-AreaTrabajo-Admin{
  position: absolute;
  width: calc(100% - 280px);
  height: 100%;
  display: block;
  min-height: 500px;
  overflow: auto;
  top: 0;
  right: 0;
  background-color: rgba(229,229,229,1);
}
.contenedor-Agregar-personas{
  width: calc(100% - 280px);   
  border-bottom: 1px solid rgba(200,200,200,1);
  background-color: rgba(245,245,245,1);
  padding:10px 3%;
  display: flex;
  justify-content: space-between;
  min-height: 62px;
  position: fixed;
}
.Agregar-persona{
  border:none;
  font-size: 14px; 
  padding: 10px 25px;
  box-sizing: border-box;
  width: 200px;
  text-align: center;
  font-family: 'Principal',helvetica,verdana,sans-serif;
  color: rgba(255,255,255,1);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: background-color, box-shadow 0.5s ease-out;
  -moz-transition: background-color, box-shadow 0.5s ease-out;
  -o-transition: background-color, box-shadow 0.5s ease-out;
  transition: background-color, box-shadow 0.5s ease-out;
  background-color: rgba(130,163,55,.8);
  cursor: pointer;
  outline: none;
  display: inline-block;
  vertical-align: middle;
}
.Agregar-persona:hover{
  background-color: rgba(130,163,55,1);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
}
.contenedor-Agregar-personas .ico-agregar::before{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
#contenedor-Herramientas-personas{
  width: 40%;
  display: flex;
  justify-content: flex-end;     
}
#contenedor-Herramientas-personas input{
  border: none;
  border: 1px solid rgba(200,200,200,1);
  width: 100%;
  max-width: 600px;
  padding:8px 10px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Principal',helvetica,verdana,sans-serif;
  -webkit-transition: border 0.5s ease-out;
  -moz-transition: border 0.5s ease-out;
  -o-transition: border 0.5s ease-out;
  transition: border 0.5s ease-out;
}
#contenedor-Herramientas-personas input:focus{
  outline: none;  
}
#contenedor-Herramientas-personas button{
  padding: 5px;
  border: none;   
  width: 55px;
  font-size: .7em;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  font-family: 'Principal',helvetica,verdana,sans-serif;   
  cursor: pointer;
  color: rgba(255,255,255,1);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  background: none;  
  background-color: rgba(130,163,55,.8);
}
#contenedor-Herramientas-personas button:hover{    
  background-color: rgba(130,163,55,1);
}
#contenedor-Herramientas-personas button:focus{    
  outline: none;
}
#contenedor-personaes-admin{
    width: 100%;
    display: block;
    height: auto;
    margin-top: 50px;
}
#contenedor-personas-admin{
  width: 95%;
  display: block;
  height: auto;
  margin:82px auto 20px auto;
  background-color: rgba(255,255,255,1);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border:1px solid rgba(200,200,200,1);
  box-sizing: border-box;
  box-shadow: 0 3px 5px 0.3px rgba(0,0,0,.24);
  overflow: hidden;
  max-width: 1200px;    
}
#contenedor-personas-admin-label{
  width: 100%;
  padding:20px 0px;
  background-color: rgba(130,163,55,.8);
  box-sizing: border-box;
  color: rgba(255,255,255,1);
  font-size: 15px;
  font-family: 'Titulo',helvetica,verdana,sans-serif;
  text-align: center;
  display: flex;
  align-items: stretch;
}
#contenedor-personas-admin-label div{
  display: inline-block;
  vertical-align: top;
  width: 90%;
}
#contenedor-personas-admin-label div:nth-child(1) , .contenedor-persona-admin p:nth-child(1) {
  width: 80%;
}
#contenedor-personas-admin-label div:nth-child(2) , .contenedor-persona-admin p:nth-child(2){
  width: 20%;
}
#contenedor-personas-admin-label div:nth-child(3) , .contenedor-persona-admin p:nth-child(3){
  width: 10%;
}
#contenedor-personas-admin-label div:nth-child(4){
  width: 20%;
}
#contenedor-personas-admin-label div:nth-child(5){
  width: 15%;
}
#contenedor-personas-admin-label div:nth-child(1),
#contenedor-personas-admin-label div:nth-child(2),
#contenedor-personas-admin-label div:nth-child(3),
#contenedor-personas-admin-label div:nth-child(4),
#contenedor-personas-admin-label div:nth-child(5){
  border-right: 2px dotted rgba(255,255,255,1);
}
.contenedor-persona-admin{
  width: 100%;
  display: flex;
  align-items: center;
  height: auto;
  vertical-align: middle;
  background-color: rgba(255,255,255,1);
  color: rgba(47,47,47,1);
  border-bottom: 1px solid rgba(245,245,245,1);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;      
}
.contenedor-persona-admin:hover{
  background-color: rgba(33,86,178,.15);
}
.tit-persona-admin{
  font-family: 'Principal',helvetica,verdana,sans-serif;
  width: 20%;
  height: auto;
  text-align: center;
  font-size: 15px;   
  padding:10px;
  box-sizing: border-box;
  align-self: center
}
.tit-persona-admin:nth-child(3){
  width: 30%
}
.pAdvertencia{
  font-family: 'Principal',helvetica,verdana,sans-serif;
  font-size: 12px;
}
.log-persona-admin{
  width: 40px; 
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 37px;
  margin: 0px auto;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; 
  text-decoration: none;
  color:rgba(255,255,255,1);
  font-family: 'Principal',helvetica,verdana,sans-serif;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
.contenedor-persona-admin .fa-editar::before {
    margin-right: 0;
}
.log-persona-ed{
  color: rgba(10,10,10,1);
  border:2px solid rgba(130,163,55,.4);
}
.log-persona-ed:hover{
  background-color: rgba(130,163,55,.4);
  color: rgba(255,255,255,1);
}
.contenedorRespuesta{
  width: calc(100% - 280px);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,.8);
  text-align: center;
  z-index: 1;
  display: none;
}
.contenedorRespuesta p{
  font-family: 'Principal',helvetica,verdana,sans-serif;
  font-size: 17px;
}
.completas{
    background-color: rgba(206, 255, 169,1);
}
.pendientes{
    background-color: rgba( 169, 224, 255 ,1);
}
.disfrutadas{
    background-color: rgba(255, 169, 169,1);
}